<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitio en Manteniminto</title>
</head>
<body>
    <main>
        <figure style= "text-align: center;">
            <img    src="/img/EnMantenimiento.jpg" alt="Sitio en Manteniminto">
        </figure>
    </main>
</body>
</html>