<footer class="row bg-light mt-3">
  <article class="col-12 col-md-6 pl-4">
    <h2 class="text-center">Contáctanos</h2>
    <form  class="pl-4 pr-4" action="#" method="POST">
      <div class="form-group">
        <label for="exampleInputEmail1">Correo Electrónico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <small id="emailHelp" class="form-text text-muted">Nos pondremos en contacto con usted por esta vía...</small>
      </div>
      <div class="form-group">
        <label for="nombre">Nombre y apellido</label>
        <input type="text" class="form-control" id="nombre">
      </div>
      <div class="form-group">
        <label for="exampleFormControlTextarea1">Observaciones</label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Enviar la consulta</button>
    </form> 

  </article>
  <article class="col-12 col-md-6 ">
    <h2 class="text-center">Aquí nos encontramos</h2>
    <div class="embed-responsive embed-responsive-16by9 ">
      <iframe class="pr-3" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.016887889514!2d-58.38375908501882!3d-34.60373446500553!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4aa9f0a6da5edb%3A0x11bead4e234e558b!2sObelisco!5e0!3m2!1ses!2sar!4v1619403275846!5m2!1ses!2sar" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    </div>

  </article>
  <!--Note que aquí con tan sólo colocar el comportamiento hacia arriba es heredado-->
  <article class="col-12 pt-2 pl-0 pr-0">
    <h5 class ="text-center text-white bg-dark p-5 ">Todos los derechos reservados: <a href="https://github.com/danielfuentes" target="_blank"> MSc. Ángel Daniel Fuentes</a> </h5>
        
  </article>
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/ionicons@5.0.0/dist/ionicons.js"></script>
</footer>

